.player{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}

.time-display{
    width: 50%;
    display: flex;
    justify-content: center;

    input{
        width: max(500px, 100%);
        margin: 1rem 0rem;
        cursor: pointer;
    }

    p{
        padding: 1rem;
    }
}

.controls{
    display: flex;
    width: 300px;
    justify-content: space-around;

    svg{
        cursor: pointer;
    }
}

input[type=range] {
  -webkit-appearance: none;
  border-radius: 20px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    background: white;
    border: 2px solid $black;
    border-radius: 20px;
}

input[type=range]::-moz-range-thumb{
    height: 25px;
    width: 25px;
    background: white;
    border: 2px solid $black;
    border-radius: 20px;
}


@media screen and (max-width: 768px) {
    .time-display{
        width: 90%;
    }
}
